.action-icon {
  width: 4rem;
  height: 4rem;
  transition: fill .3s;

  &:hover {
    cursor: pointer;
    fill: var(--color-primary);
  }
}

.content {
  display: grid;
  grid-template-columns: 12rem [col-start-1] minmax(min-content, 1fr) [col-end-1 col-gap-start] 12rem [gol-gap-end col-start-2] minmax(min-content, 1fr) [col-end-2] 12rem;
  grid-row-gap: 4rem;

  @media only screen and (max-width: $bp-small) {
    grid-row-gap: 3rem;
  }
}

.btn {
  background-color: transparent;
  border: none;
  border-style: none;
  color: #fff;
  cursor: pointer;
  outline: none;

  &:active {
    border: 1px solid var(--color-secondary);
    border-radius: 50%;
  }

  &--enter {
    width: 6.4rem;
    height: 6.4rem;
    background-image: url(../img/play.svg);
    background-size: cover;
  }
}

.mb-3 {
  margin-bottom: 1.5rem;
}

// Toggle input
// Credits: https://codepen.io/mallendeo/pen/eLIiG
.tgl {
	display: none;

	// add default box-sizing for this scope
	&,
  &:after,
  &:before,
	& *,
  & *:after,
  & *:before,
	& + .tgl-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}

  + .tgl-btn {
		outline: 0;
		display: block;
		width: 2.5rem;
		height: 1rem;
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after,
    &:before {
			position: relative;
			display: block;
			content: "";
			width: 1.5rem;
      height: 1.5rem;
      transform: translateY(-0.5rem);
		}

		&:after {
      left: 50%;
    }
    
		&:before {
      display: none;
		}
	}
  
	&:checked + .tgl-btn:after {
    left: -0.3rem;
    // tgl-light theme color
    background: var(--color-text-secondary);
	}
}

.tgl-light {
  + .tgl-btn {
    background: var(--color-text-silver-light);
		border-radius: 2em;
		padding: 2px;
		transition: all .4s ease;
		&:after {
      background: var(--color-text-silver-dark);
			border-radius: 50%;
			transition: all .2s ease;
		}
  }
}
// Toggle input end

.u-center {
  text-align: center;
}