.o-grid {
  display: grid;
  grid-template-columns: 30rem [col-start-1] minmax(min-content, 1fr) [col-end-1 col-gap-start] 12rem [gol-gap-end col-start-2] minmax(min-content, 1fr) [col-end-2] 30rem;
  grid-row-gap: 4rem;

  @include mq($until: huge) {
    grid-template-columns: 18rem [col-start-1] minmax(min-content, 1fr) [col-end-1 col-gap-start] 12rem [gol-gap-end col-start-2] minmax(min-content, 1fr) [col-end-2] 18rem;
    grid-row-gap: 3rem;
  }

  @include mq($until: wide) {
    grid-template-columns: 12rem [col-start-1] minmax(min-content, 1fr) [col-end-1 col-gap-start] 12rem [gol-gap-end col-start-2] minmax(min-content, 1fr) [col-end-2] 12rem;
  }

  @include mq($until: mobile) {
    grid-template-columns: 3rem [col-start-1] minmax(min-content, 1fr) [col-end-1 col-gap-start] 3rem [gol-gap-end col-start-2] minmax(min-content, 1fr) [col-end-2] 3rem;
  }
}
