.o-grid {
  display: grid;
  grid-template-columns: 12rem [col-start-1] minmax(min-content, 1fr) [col-end-1 col-gap-start] 12rem [gol-gap-end col-start-2] minmax(min-content, 1fr) [col-end-2] 12rem;
  grid-row-gap: 3rem;
}
