:root {
  &.beauty-lila-theme {
    --color-primary: #2E3390;
    --color-secondary: #273A8C;
    --color-bg-start: rgba(45, 100, 222, .85);
    --color-bg-end: rgba(132, 84, 235, .85);
    --color-bg-popup: #FFF;
    --color-text-primary: #FFF;
    --color-text-secondary: #2839AE;
    --color-text-silver-light: #cccccc;
    --color-text-silver-dark: #999999;
  }
}
