:root {
  &.calm-green-theme {
    --color-primary: #229621;
    --color-secondary: #009433;
    --color-bg-start: rgba(0, 194, 77, .85);
    --color-bg-end: rgba(0, 211, 130, .85);
    --color-bg-popup: #FFF;
    --color-text-primary: #FFF;
    --color-text-secondary: #009941;
    --color-text-silver-light: #cccccc;
    --color-text-silver-dark: #999999;
  }
}
