///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.



// Standardise some UI treatments.

$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;

// RESPONSIVE BREAKPOINTS
$bp-large: 75em; // 1200px
$bp-medium: 62.5em; // 1000px
$bp-small: 43.75em; // 700px
