.c-footer {
  @extend %columns-container;
  margin-top: auto;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__text {
    text-align: center;
    font-size: 1.4rem;
    color: var(--color-text-secondary);

    a {
      text-decoration: none;
      color: inherit;
      transition: color .3s;

      &:hover {
        color: var(--color-text-primary);
      }
    }
  }

  &__users {
    display: flex;
    align-items: center;
  }

  &__users-count {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-primary);
    margin-right: 1.8rem;

    @include mq($until: tablet) {
      margin-right: 0.5rem;
    }
  }
}
