.c-song-queue {
  grid-column: col-start-1 / col-end-1;

  @media only screen and (max-width: $bp-small) {
    grid-column: col-start-1 / col-end-2;
  }
}

.c-queue-list {
  max-height: 32rem;
  overflow-y: scroll;
  overflow-x: hidden; // TODO: ugly fix for scroll caused by absolute position of upvote svg part 1
}
