.c-btn {
  background-color: transparent;
  border: none;
  border-style: none;
  color: #fff;
  cursor: pointer;
  outline: none;

  &:active {
    box-shadow: 0px 0px 3px 0px currentColor;
    border-radius: 50%;
  }

  &--enter {
    width: 6.4rem;
    height: 6.4rem;
    background-image: url(../img/play.svg);
    background-size: cover;
  }
}
