.c-controls-container {
  position: relative;
}

.c-theme-controls {
  display: none;
  position: absolute;
  top: -16rem;
  left: -1rem;
  width: 11rem;
  padding: 0.8rem 0.5rem;
  background-color: #fff;
  color: var(--color-text-secondary);
  border-radius: 1rem;
  line-height: 1; // sets height = font-size to fix translate of tgl button

  &--active {
    display: block;
  }

  p {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  &__toggle {
    display: flex;
    padding: 0.8rem 0;
    font-size: 1rem;

    span {
      margin-left: 0.6rem;
    }
  }
}
