.c-related {
  grid-column: col-start-2 / col-end-2;

  @media only screen and (max-width: $bp-small) {
    grid-column: col-start-1 / col-end-2;
  }
}

.c-add-form {
  position: relative;
  margin-bottom: 5rem;

  &__input {
    width: 100%;
    border: none;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, .5);
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid var(--color-text-primary);
    padding: 1.1rem 0;
    margin-bottom: .3rem;
    //transition: all .3s; // TODO: this looks bad, margin and padding are animated with different speed

    &:focus,
    &:active {
      padding-bottom: 1.4rem;
      margin-bottom: 0;
    }

    &::placeholder {
      color: #000;
      opacity: .5;
    }
  }

  &__btn-add {
    flex: 0 0 auto;
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 3rem;
    height: 3rem;

    svg {
      polygon, path {
        fill: var(--color-text-primary);
        stroke: var(--color-text-primary);
      }
    }
  }
}

.c-related-list {

  &__item {
    display: flex;
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--color-text-primary);

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-text-primary);
    }
  }

  &__item-title {
    text-decoration: none;
    color: var(--color-text-primary);
  }

  &__item-number {
    margin-right: 0.5rem;
  }

  &__btn-add {
    flex: 0 0 auto;
    width: 3rem;
    height: 3rem;
    margin-left: auto;

    svg {
      polygon, path {
        fill: var(--color-text-primary);
        stroke: var(--color-text-primary);
      }
    }
  }
}
