.c-song-queue {
  grid-column: col-start-1 / col-end-1;

  @media only screen and (max-width: $bp-small) {
    grid-column: col-start-1 / col-end-2;
  }
}

.c-queue-list {
  max-height: 32rem;
  overflow-y: scroll;
  overflow-x: hidden; // TODO: ugly fix for scroll caused by absolute position of upvote svg part 1
  margin-top: 3rem;

  &__item {
    display: flex;
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--color-text-primary);

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-text-primary);
    }
  }

  &__item-number {
    margin-right: 0.5rem;
  }

  &__item-title {
    text-decoration: none;
    color: var(--color-text-primary);
  }

  &__item-duration {
    margin-left: 0.5rem;
    color: var(--color-text-secondary);
  }

  &__btn-upvote {
    flex: 0 0 auto;
    position: relative;
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    margin-right: 0.5rem; // TODO: ugly fix for scroll caused by absolute position of upvote svg part 2

    svg {
      polygon, path {
        fill: var(--color-text-primary);
      }
    }
  }

  &__item-votes {
    position: absolute;
    bottom: -3px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.65rem;
    height: 1.65rem;
    font-size: 1.1rem;
    color: var(--color-primary);
    background-color: var(--color-text-primary);
    border-radius: 50%;
  }
}