.c-footer {
  @extend %columns-container;
  margin-top: auto;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__text {
    text-align: center;
    font-size: 1.4rem;
    color: var(--color-text-secondary);

    a {
      text-decoration: none;
      color: inherit;
      transition: color .3s;

      &:hover {
        color: var(--color-text-primary);
      }
    }
  }

  &__users {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__users-count {
    position: absolute;
    right: 5.5rem;
    font-size: 1.5rem;
    white-space: nowrap;
    color: var(--color-primary);
  }
}
