.c-header {
  @extend %columns-container;

  &__logo {
    display: flex;
    height: 10rem;

    @media only screen and (max-width: $bp-medium) {
      height: 5rem;
    }

    img {
      display: block;
      object-fit: contain;
    }
  }
}
