.c-video-player {
  grid-column: col-start-1 / col-end-1;

  @media only screen and (max-width: $bp-medium) {
    grid-column: col-start-1 / col-end-2;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__youtube-player {
    position: absolute;
    top: 5%;
    width: 92%;
    height: 66%;
  }

  &__background {
    width: 100%;
  }
}
