.u-h {
  &1 {
    font-size: 3rem;
    font-weight: 300;
    color: var(--color-text-primary);
  }

  &2 {
    font-size: 2.6rem;
    font-weight: 300;
    color: var(--color-text-primary);
  }

  &3 {
    font-size: 1.6rem;
    font-weight: 300;
  }

  &-secondary {
    line-height: 1;
    font-style: italic;
    color: #000;
    opacity: .5;
  }
}
