<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Community Driven Radio - Your Main Source of Documentation</title>
    <link href="/community-driven-radio/assets/css/style.css?v=5121b1cb23071e65ea93e5e49dacf999c70c46b6" rel="stylesheet">
</head>
<body>
<div class="container markdown-body">
    <h1 id="community-driven-radio">Community Driven Radio</h1>

    <p>A DevLabs project</p>

    <h2 id="content">Content</h2>

    <ul>
        <li><a href="classes-quick-reference/">Classes - quick reference</a></li>
        <li><a href="jsdocs/">Classes and Methods - JSDocs</a></li>
        <li>How to’s
            <ul>
                <li><a href="http://bratanov.github.com/community-driven-radio#how-to-run">How to setup and run the radio</a></li>
                <li><a href="/community-driven-radio/how-to/documentation.html">How to generate docs</a></li>
                <li><a href="/community-driven-radio/how-to/versions.html">How to bump version number</a></li>
            </ul>
        </li>
        <li>Usage (Client use cases)
            <ul>
                <li><a href="/community-driven-radio/usage/adding-songs.html">How song adding works</a></li>
                <li><a href="/community-driven-radio/usage/voting.html">How voting works</a></li>
            </ul>
        </li>
    </ul>

    <h2 id="enjoy-the-docs">Enjoy the docs!</h2>

    <div id="radio-gif"></div>

    <script type="text/javascript">
		var radioGifs = [
			'https://media.giphy.com/media/LX3xsKXQgZoGs/giphy.gif',
			'https://media.giphy.com/media/NkkKrHU2wAin6/giphy.gif',
			'https://media.giphy.com/media/l2YWqtgoYCX5i5RBu/giphy.gif',
			'https://media.giphy.com/media/XEeASREtdxeSc/giphy.gif',
			'https://media.giphy.com/media/ER9ew0BbQGCDC/giphy.gif',
			'https://media.giphy.com/media/IV8qCHrSxBpOo/giphy.gif',
			'https://media.giphy.com/media/EsDLgWVhiYDVS/giphy.gif',
			'https://media.giphy.com/media/QFhKwUFdYGeA0/giphy.gif',
			'https://media.giphy.com/media/hKtERzvw0euQw/giphy.gif',
			'https://media.giphy.com/media/XxHVJxuogNP32/giphy.gif',
			'https://media.giphy.com/media/bQKfgH7vO67LO/giphy.gif',
			'https://media.giphy.com/media/Q0FuKb4QOTVIc/giphy.gif',
			'https://media.giphy.com/media/RpOHbzzJ4z7gY/giphy.gif',
			'https://media.giphy.com/media/6hBzmAQhzTABy/giphy.gif',
			'https://media.giphy.com/media/l4FGKZalba09znIoE/giphy.gif',
			'https://media.giphy.com/media/y0BHTYx91UPnO/giphy.gif',

			'https://media.giphy.com/media/UyPpKZScnl7na/giphy.gif',
			'https://media.giphy.com/media/PsnDmrzEJU02Q/giphy.gif',
			'https://media.giphy.com/media/kdwJm7b2pJxXa/giphy.gif',
			'https://media.giphy.com/media/DMvOJX5R6UvUQ/giphy.gif',
			'https://media.giphy.com/media/l0HlOBZcl7sbV6LnO/giphy.gif',
			'https://media.giphy.com/media/g2lH60ZcvUGL6/giphy.gif',
			'https://media.giphy.com/media/TwJ6ix2kjxloQ/giphy.gif',
			'https://media.giphy.com/media/LkjlH3rVETgsg/giphy.gif',
			'https://media.giphy.com/media/eFAFV2ytLzBba/giphy.gif',
			'https://media.giphy.com/media/yuDqzpTvEzvMs/giphy.gif',
			'https://media.giphy.com/media/B5YRDJlRT8DFC/giphy.gif',
			'https://media.giphy.com/media/ZaRz2080kt4Yg/giphy.gif',
			'https://media.giphy.com/media/3o6Ztl3rRVq6yZ5MT6/giphy.gif',
			'https://media.giphy.com/media/NSEnqlhE2UhDG/giphy.gif'
		];
		document.getElementById('radio-gif').innerHTML = '<img src="' + radioGifs[parseInt(Math.random() * radioGifs.length)] + '" />';
    </script>


</div>
</body>
</html>
