// override autocomlete plugin styles
.autocomplete-suggestions {
  border: none;
  max-height: 35rem;
  opacity: 0.95;
}

.autocomplete-suggestion {
  display: flex;
  background-color: var(--color-bg-start);
  border: none;
  padding: 0.5rem;
  
  &.selected {
    background-color: var(--color-bg-end);
    cursor: pointer;
  }
  
  &__thumb {
    height: 2.5rem;
    margin-right: 0.5rem;
  }
  
  &__title {
    font-size: 1.5rem;
  }
}
